<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" style = "text/css" href="../static/css/style.css">
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<title>BMI Manager</title>
</head>
<body>
	<div class="basicTitle">
		<h1>BMI MANAGER</h1>
	</div>
	<button class="calcBtn" type="submit" onclick="location.href = '/calculate'">Calculator</button>
	<button class="statisticBtn"type="submit" onclick="location.href = '/statistics'">Statistics</button>
	<button class="profileBtn" type="submit" onclick="location.href = '/profile'">My profile</button>
	<button class="logOutBtn" type="submit" onclick="location.href = '/logout'">Logout</button>
	<div id="profile" class="row">
		<legend>My profile</legend>
		<fieldset>
			<div class="col-sm-6">
				<div><label>Username:</label></div>
				<div><label>Age:</label></div>
				<div><label>Sex:</label></div>
			</div>

			<div class="col-sm-6">
				<div><span id="usertxt"></span></div>
				<div><span id="agetxt"></span></div>
				<div><span id="gendertxt"></span></div>
			</div>
		</fieldset>	
	</div>

	<script src="../static/jQuery/jquery-2.1.4.min.js"></script>
	<script src="../static/jQuery/jqueryFormValidation.js"></script>
	<script src="../js/profile.js"></script>
</body>
</html>