<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" style = "text/css" href="../static/css/style.css">
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/slider/css/slider.css" rel="stylesheet">
		<title>BMI Manager</title>
	</head>
	<script src="../static/jQuery/jquery-2.1.4.min.js"></script>
	<script src="../static/slider/js/bootstrap-slider.js"></script>

<body>
 	<div class="basicTitle">
		<h1>BMI MANAGER</h1>
	</div>
	<h2>Statistics</h2>
	<button class="calcBtn" type="submit" onclick="location.href = '/calculate'">Calculator</button>
	<button class="profileBtn" type="submit" onclick="location.href = '/profile'">My profile</button>
	<button class="logOutBtn"type="submit" onclick="location.href = '/logout'">Logout</button>
</body>
	<script src="../js/calculate.js"></script>
</html>