<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" style = "text/css" href="../static/css/style.css">
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<title>BMI Manager</title>
	</head>
	<script src="../static/jQuery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/charts/canvasjs.min.js"></script>
	<script src="../js/statistics.js"></script>
<body>
 	<div class="basicTitle">
		<h1>BMI MANAGER</h1>
	</div>
	<h2>Statistics</h2>
	<button class="calcBtn" type="submit" onclick="location.href = '/calculate'">Calculator</button>
	<button class="statisticBtn"type="submit" onclick="location.href = '/statistics'">Statistics</button>
	<button class="profileBtn" type="submit" onclick="location.href = '/profile'">My profile</button>
	<button class="logOutBtn"type="submit" onclick="location.href = '/logout'">Logout</button>
	<div class="row">
		<div class="col-sm-6">
			<button class="ownBtn">Own</button>
		</div>
		<div class="col-sm-6">
			<button class="allBtn">All</button>
		</div>
	</div>
	<div id="chartContainer" style="height: 300px; width: 70%;"></div>
</body>
	
</html>